/* INIZIO REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  width:100%;
  height:100vh;
  color:#5a5a5a;

  /* elementi di debug */
  background-color: lightblue;
}

h3{
  font-size: 1.2em;
}

h4{
  font-size: 1em;
}


h2, h3, h3> a{
  color:white;
  text-decoration: none;
}

/* - PADDING GENERALI */

.centratura{
  padding-right:10px;
  padding-left: 10px;
}

/* - .............TOP BAR................  */

#top-bar{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height:80px;
  z-index: 900;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  /* elementi di debug */
  background-color: rgba(0, 0, 255, 0.3);
}


/* - SIDEBAR fixed laterale */
#side-bar{
  position: fixed;
  top:0;
  left:0;
  width:200px;
  height: 100%;
  z-index: 980;
  padding-top:25px;

  /* elementi di debug */
  background-color: rgba(255, 0, 0, 0.3);
}

#side-bar a{
  text-decoration: none;
  color:#75787c;
}


/* - SIDEBAR dimensioni immagini della sidebar */

img[alt~="logo-small"] {
  display:none;
}

#side-bar .main-logo img{
  height: 30px;
}

#side-bar a.logo img{
  width:25px;
  height: auto;
  vertical-align: middle;
}

.radius img{
  border-radius: 50%;
  background-color: red;
}

#side-bar ul{
  width:100%;

  padding:0;

  /* REGOLE DI DEBUG */
  border:1px solid black;
}

#side-bar ul li{
  padding-bottom: 10px;
  list-style-type: none;
  width:100%
}

#side-bar ul li i.fa-plus{
  color:white;
  font-size: 12px;
  padding:8px;
  margin-right: 8px;
  background-color: #75787c;
  vertical-align: middle;


}

#side-bar .section2{
  position:absolute;
  bottom:80px;
  width:100%;
}



/* - SEZIONE INFOBAR disposizione menu flex */

section.main{

  width: calc(100% - 200px);
  margin-left: 200px;
  margin-top: 80px;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;

  /* REGOLE DI DEBUG */
  background-color: orange;
  border:1px solid black;
}

#info-bar{
  width:100%;;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#info-bar .menu{
  padding-right: 10px;
  padding-left: 10px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* REGOLE DI DEBUG */
  border:1px solid black;
}

#info-bar .menu .linea{
  width:50px;
  height: 2px;
  border-radius: 5px;

  /* REGOLE DI DEBUG */
  background-color: red;
}

#info-bar .menu a{
  text-decoration: none;
  font-weight: bold;
}

/* - SEZIONE CONTENUTO PAGINA SPOTIFY */
.title{
  width: 100%;
  text-align: left;

  /* REGOLE DI DEBUG */
  background-color: blue;
}

#recently-played, #suggested-artist, #popular-artist {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  width:100%;
}

.spotify-sections .content{

  width:calc(100% / 6);
  min-width:100px;
  height: auto;
  text-align: center;

  /* REGOLE DI DEBUG */
  border:1px solid black;
}

.spotify-sections .content .img-cover img{
  width:95%;
}

#popular-artist.spotify-sections .content .img-cover img{
  border-radius: 50%;
}




/* .............BOTTOM BAR................ */
#bottom-bar{
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 80px;
  z-index: 999;
  display: flex;
  flex-flow:row;
  justify-content: space-between;
  align-items:center;

  /* elementi di debug */
  background-color: rgba(0, 255, 0, 0.3);
}

/* .............SEZIONE NOW PLAYING................ */
#bottom-bar .now-playing{
  width: 200px;
  height:50px;
  display:flex;
  justify-content: space-between;
  align-items:center;

/* REGOLE DI DEBUG */
  background-color: lightblue;
  border:1px solid black;
}


#bottom-bar .now-playing img{
  max-width:50px;
  height:auto;
}

#bottom-bar .now-playing >div:last-of-type{
  width: 30px;
  text-align: center;

  /* REGOLE DI DEBUG */
  border:1px solid black;

}



/* .............SEZIONE MUSIC PLAYER................ */
#bottom-bar .music-player{
  width: 100%;
  max-width:600px;
  display: flex;
  flex-flow:column;
  justify-content:center;
  align-items:center;

  /* REGOLE DI DEBUG */
  background-color: white;
}


/* .............SEZIONE AUDIOSETTINGS................ */
#bottom-bar .audio-settings{
  width: 200px;
  display:flex;
  justify-content: space-between;

  /* REGOLE DI DEBUG */
  background-color: white;

}




/* .............Buttom bar regole generali................ */

#bottom-bar .playbar{
  width:100%;
  display: flex;
  flex-flow:row;
  justify-content:center;
  align-items:center;

  /* REGOLE DI DEBUG */
  background-color: red;
}

#bottom-bar .playbar .playbar-bg{
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:5px;
  border-radius: 3px;
  background-color: #5a5a5a;
  margin: 0 5px;
}

#bottom-bar .playbar .playbar-bg .playbar-line{
  position: absolute;
  left:0px;
  width:70%;
  height:5px;
  border-radius: 3px;
  background-color: #c1c1c1;
}

#bottom-bar button{
  background-color: transparent;
  border: 0;
}






@media all and (max-width:400px){

/* nuove dimensioni della SideBar */
  #side-bar{
    width:50px;
    padding-top:5px;
  }

  #side-bar ul li i.fa-plus-square{
    display: none;
  }

  section.main{
    margin-left: 50px;
  }



  .collapse{
    display:none;
  }

  img[alt~="main-logo"] {
    display:none;
  }

  img[alt~="logo-small"] {
    display:block;
    width:25px;
  }



}
